.custom{
    background-color: brown;
    color: white;
    height: 2.2rem;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


  .main-arrUserProduct{
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }

  /* *, ::after, ::before {
    box-sizing: border-box;
} */
  
.cell{
  width: 42%;
  word-wrap: wrap;
  white-space: wrap;
  word-break: break-all;
  padding: 5px;
}

.cell-header{
  padding: 5px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

.first-cell{
  width: 10%;
}

.btn-cell{
  width: 18%;
}

.btn-flex{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.custom-wrap{
  background-color: green;
}

.flex{
  display: flex;
  padding: 20px;
}

.cell-textarea{
  width: 100%;
}


