<!-- <div class="container" *ngIf = "dataCode === '/(outlet1:control-page)'">
    <router-outlet  name="outlet1"></router-outlet> 
</div>

<div class="container" *ngIf = "dataCode !== '/(outlet1:control-page)'">
    <app-header></app-header>
    <flash-messages></flash-messages>
    <div class="container">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div> -->

     


<div class="container" >
    <router-outlet></router-outlet>
</div>

<!-- __________________________________________________________________________________________ -->

<!-- <div id="container">
    <div id="content">
      <div style="width: 80%; margin-left: auto; margin-right: auto;">
        Lots of placeholder text here so we ample vertical scroll to play with....
      </div>
    </div>
  </div> -->
  
  <!-- our parallax stuff -->
  <!-- <div appParallax [ratio]="-0.2" id="square"></div>
  <div appParallax [ratio]="0.5" id="circle"></div>
  <div appParallax [ratio]="0.9" id="rectangle"></div> -->


  <!-- <lib-ngx-image-zoom 
  [thumbImage]="myThumbnail"
  [fullImage]="myFullresImage"
  [magnification]="3"
  [enableScrollZoom]="true"
  [enableLens]="true"
  [lensWidth]="300"
  [scrollStepSize] = "0.05"
></lib-ngx-image-zoom > -->

