<p>visit-card works!</p>

<div class="wrapper">
    <div class="card">

      <div class="front">
        <img src="https://images.pexels.com/photos/801885/pexels-photo-801885.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Photo">
      </div>

      <div class="back">
        <div class="content">
          <h1>
            John Doe
            <span>Front-end Developer</span>
          </h1>
          <ul class="socials">
            <li>
              <a href="#"><i class="fa fa-youtube"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-vk"></i></a>
              <a href="#"><i class="fa fa-github"></i></a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <i class="fa fa-camera-retro"></i> fa-camera-retro

  